.footer {
  @extend section;
  .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    .box {
      flex: 1 1 25rem;

      h3 {
        color: #333;
        font-size: 2.5rem;
        padding: 1rem 0;
      }

      a {
        display: block;
        color: #666;
        font-size: 1.5rem;
        padding: 1rem 0;

        &:hover {
          color: $primaryColor;
          text-decoration: underline;
        }
      }

      img {
        margin-top: 1rem;
      }
    }
  }

  .credit {
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    font-size: 2rem;
    color: #333;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  }
}
